.green {
	background-color: #008000;
	color: #fff;
}

.red {
	background-color: #ff0000;
	color: #fff;
}

.yellow {
	background-color: #ffff00;
	color: #fff;
}

.bold {
	text-decoration: underline;
}

.info {
    width: 530px;
    border: solid 2px yellow;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    display: none;    
}

.left {
	width: 200px;
	background-color: #CCC;
	float: left;
	height: 100px;
	text-align: center;
	font-size: 25px;
	padding: 40px 10px 10px 10px;
}

.right {
	width: 300px;
	float: left;
	margin-left: 10px;
	background-color: #333;
	color: #fff;
	height: 120px;
	text-align: center;
	position: relative;
	font-size: 20px;
	padding: 20px 10px 10px 10px;
}

.refresh {
	position: absolute;
	right: 5px;
	top: 5px;
}